.testimonials {

    height: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;


    img {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
    }

    .container {
        height: 550px;
        width: 1400px;
        position: absolute;
        display: grid;
        flex-direction: column;
        grid-template-rows: 1fr 2fr;



        .titles {
            text-align: center;

            h4 {

                @include forH4;
                margin: 1rem;

            }

            h2 {
                margin: 2rem;
                @include forH2;



            }

        }

        .image-container {
            @include regularWidth;
            overflow: hidden;
            height: 100%;
            width: 100%;

            .image-wrapper {

                height: 100%;
                display: grid;
                grid-auto-flow: column;
                grid-auto-columns: calc((100% - (1.5rem * (var(--preView) - 1))) / var(--preView));
                grid-gap: 1.5rem;
                position: relative;
                left: 0;
                @include main_transition;


                .card {
                    height: 100%;
                    padding: 1rem 3rem 2rem;
                    background-color: $bgColor;
                    display: flex;
                    flex-direction: column;

                    .icon {
                        padding: 1rem 0;
                        margin-bottom: 3rem;

                        img {

                            width: 45px;
                            height: 45px;
                            object-fit: fill;


                        }
                    }

                    h4 {
                        font-size: 1.6rem;
                        font-family: $source;
                        color: $mainColor;
                        font-weight: $semibold;

                    }

                    p {
                        color: $wColor;
                        font-family: $source;
                        padding-top: 1rem;
                        line-height: 20px;

                    }

                    .starIcon {
                        color: $mainColor;
                        font-size: 1.5rem;
                        padding: 1.5rem 1rem;
                    }

                    .footer {
                        display: flex;


                        img {
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;

                        }

                        .desc {

                            position: relative;
                            left: 65px;

                            h5 {
                                font-size: 1.5rem;
                                color: $mainColor;
                                font-weight: $semibold;
                                font-family: $source;
                                line-height: 10px;
                                padding-top: 10px;
                            }

                            p {
                                line-height: 10px;
                            }



                        }
                    }



                }

            }
        }

    }



    @include breakpoint_xxl {
        height: 700px;

        .container {
            height: 550px;
            @include xxlWidth;

            .image-container {

                width: 100%;

                .image-wrapper {

                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: calc((100% - (1.5rem * (var(--preView) - 1)))/ var(--preView));
                    grid-gap: 1.5rem;
                    position: relative;
                    left: 0;
                    @include main_transition;





                    .card {
                        height: fit-content;
                        padding: 1rem 3rem 2rem;
                        background-color: $bgColor;
                        display: flex;
                        flex-direction: column;

                        .icon {
                            padding: 1rem 0;

                            img {

                                width: 40px;
                                height: 40px;
                                object-fit: fill;


                            }
                        }

                        h4 {
                            font-size: 1.3rem;
                            font-family: $source;
                            color: $mainColor;
                            font-weight: $semibold;

                        }

                        p {
                            color: $wColor;
                            font-family: $source;
                            padding-top: 1rem;
                            line-height: 15px;
                            font-size: 0.8rem;

                        }

                        .starIcon {
                            color: $mainColor;
                            font-size: 1.3rem;
                            padding: 1.5rem 1rem;
                        }

                        .footer {
                            display: flex;


                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;

                            }

                            .desc {

                                position: relative;
                                left: 30px;

                                h5 {
                                    font-size: 1.2rem;
                                    color: $mainColor;
                                    font-weight: $semibold;
                                    font-family: $source;
                                    line-height: 9px;
                                    padding-top: 8px;
                                }

                                p {
                                    line-height: 8px;
                                }



                            }
                        }



                    }

                }
            }

        }
    }

    @include breakpoint_xl {
        height: 700px;

        .container {
            height: 550px;
            @include xlWidth;

            .image-container {

                width: 100%;

                .image-wrapper {

                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: calc((100% - (1.5rem * (var(--preView) - 1)))/ var(--preView));
                    grid-gap: 1.5rem;
                    position: relative;
                    left: 0;
                    @include main_transition;





                    .card {
                        height: fit-content;
                        padding: 1rem 3rem 2rem;
                        background-color: $bgColor;
                        display: flex;
                        flex-direction: column;

                        .icon {
                            padding: 1rem 0;

                            img {

                                width: 40px;
                                height: 40px;
                                object-fit: fill;


                            }
                        }

                        h4 {
                            font-size: 1.3rem;
                            font-family: $source;
                            color: $mainColor;
                            font-weight: $semibold;

                        }

                        p {
                            color: $wColor;
                            font-family: $source;
                            padding-top: 1rem;
                            line-height: 15px;
                            font-size: 0.8rem;

                        }

                        .starIcon {
                            color: $mainColor;
                            font-size: 1.3rem;
                            padding: 1.5rem 1rem;
                        }

                        .footer {
                            display: flex;


                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;

                            }

                            .desc {

                                position: relative;
                                left: 50px;

                                h5 {
                                    font-size: 1.2rem;
                                    color: $mainColor;
                                    font-weight: $semibold;
                                    font-family: $source;
                                    line-height: 9px;
                                    padding-top: 8px;
                                }

                                p {
                                    line-height: 8px;
                                }



                            }
                        }



                    }

                }
            }

        }
    }
    @include breakpoint_lg {
        height: 700px;

        .container {
            height: 550px;
            @include lgWidth;

            .image-container {

                width: 100%;

                .image-wrapper {

                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: calc((100% - (1.5rem * (var(--preView) - 1)))/ (var(--preView) - 1));
                    grid-gap: 1.5rem;
                    position: relative;
                    left: 0;
                    @include main_transition;





                    .card {
                        height: fit-content;
                        padding: 1rem 3rem 2rem;
                        background-color: $bgColor;
                        display: flex;
                        flex-direction: column;

                        .icon {
                            padding: 1rem 0;

                            img {

                                width: 40px;
                                height: 40px;
                                object-fit: fill;


                            }
                        }

                        h4 {
                            font-size: 1.3rem;
                            font-family: $source;
                            color: $mainColor;
                            font-weight: $semibold;

                        }

                        p {
                            color: $wColor;
                            font-family: $source;
                            padding-top: 1rem;
                            line-height: 15px;
                            font-size: 0.8rem;

                        }

                        .starIcon {
                            color: $mainColor;
                            font-size: 1.3rem;
                            padding: 1.5rem 1rem;
                        }

                        .footer {
                            display: flex;


                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;

                            }

                            .desc {

                                position: relative;
                                left: 60px;

                                h5 {
                                    font-size: 1.2rem;
                                    color: $mainColor;
                                    font-weight: $semibold;
                                    font-family: $source;
                                    line-height: 9px;
                                    padding-top: 8px;
                                }

                                p {
                                    line-height: 8px;
                                }



                            }
                        }



                    }

                }
            }

        }
    }
    @include breakpoint_md {

        .container {
            height: 550px;
            @include mdWidth;

          

        }
    }
    @include breakpoint_sm {
        height: 700px;

        .container {
            height: 600px;
            @include smWidth;

            .image-container {

                width: 100%;

                .image-wrapper {

                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: calc((100% - (1.5rem * (var(--preView) - 2)))/ (var(--preView) - 2));
                    grid-gap: 1.5rem;
                    position: relative;
                    left: 0;
                    @include main_transition;





                    .card {
                        height: fit-content;
                        padding: 1rem 3rem 2rem;
                        background-color: $bgColor;
                        display: flex;
                        flex-direction: column;

                        .icon {
                            padding: 1rem 0;

                            img {

                                width: 40px;
                                height: 40px;
                                object-fit: fill;


                            }
                        }

                        h4 {
                            font-size: 1.3rem;
                            font-family: $source;
                            color: $mainColor;
                            font-weight: $semibold;

                        }

                        p {
                            color: $wColor;
                            font-family: $source;
                            padding-top: 1rem;
                            line-height: 15px;
                            font-size: 0.8rem;

                        }

                        .starIcon {
                            color: $mainColor;
                            font-size: 1rem;
                            padding: 1.5rem 1rem;
                        }

                        .footer {
                            display: flex;


                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;

                            }

                            .desc {

                                position: relative;
                                left: 60px;

                                h5 {
                                    font-size: 1.2rem;
                                    color: $mainColor;
                                    font-weight: $semibold;
                                    font-family: $source;
                                    line-height: 9px;
                                    padding-top: 8px;
                                }

                                p {
                                    line-height: 8px;
                                }



                            }
                        }



                    }

                }
            }

        }
    }
    @include breakpoint_xsm {
        height: 700px;

        .container {
            height: 600px;
            @include xsmWidth;

            .image-container {

                width: 100%;

                .image-wrapper {
                    display: grid;
                    grid-auto-flow: column;
                    grid-auto-columns: calc((100% - (1.5rem * (var(--preView) - 2)))/ (var(--preView) - 2));
                    grid-gap: 1.5rem;
                    position: relative;
                    left: 0;
                    @include main_transition;





                    .card {
                        height: fit-content;
                        padding: 1rem 3rem 2rem;
                        background-color: $bgColor;
                        display: flex;
                        flex-direction: column;

                        .icon {
                            padding: 1rem 0;

                            img {

                                width: 40px;
                                height: 40px;
                                object-fit: fill;


                            }
                        }

                        h4 {
                            font-size: 1.3rem;
                            font-family: $source;
                            color: $mainColor;
                            font-weight: $semibold;

                        }

                        p {
                            color: $wColor;
                            font-family: $source;
                            padding-top: 1rem;
                            line-height: 15px;
                            font-size: 0.8rem;

                        }

                        .starIcon {
                            color: $mainColor;
                            font-size: 1rem;
                            padding: 1.5rem 1rem;
                        }

                        .footer {
                            display: flex;


                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;

                            }

                            .desc {

                                position: relative;
                                left: 60px;

                                h5 {
                                    font-size: 1.2rem;
                                    color: $mainColor;
                                    font-weight: $semibold;
                                    font-family: $source;
                                    line-height: 9px;
                                    padding-top: 8px;
                                }

                                p {
                                    line-height: 8px;
                                }



                            }
                        }



                    }

                }
            }

        }
    }


   

}

.count_box {
    margin: 0 auto;
    width: 1350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2%;
    height: 450px;
    align-items: center;

    .count {

        height: 250px;
        border: 3px solid $mainColor;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .h2 {
            font-size: 4rem;
            color: $wColor;
            margin: 1rem auto;

        }

        h4 {

            font-size: 1.5rem;
            font-family: $source;
            color: $mainColor;
            font-weight: $semibold;
        }

    }

    @include breakpoint_xxl {
        @include xxlWidth;

    }

    @include breakpoint_xl {
        @include xlWidth;

    }

    @include breakpoint_lg {
        @include lgWidth;
        margin: 10rem auto;
        display: flex;
        flex-direction: column;
        height: 800px;
        gap: 5px;

        .count {

            width: 100%;

            .h2 {
                font-size: 2rem;
            }

            h4 {
                font-weight: $regular;
            }

        }
    }

    @include breakpoint_md {
        @include mdWidth;



    }

    @include breakpoint_sm {
        @include smWidth;
    }

    @include breakpoint_xsm {
        @include xsmWidth;
    }
}