//  --forum: "Forum", cursive;
//  --ibm: "IBM Plex Serif", serif;
//  --source: "Source Sans 3", sans-serif;
//  --bold: 700;
//  --semibold: 600;
//  --regular: 400;
@import url('https://fonts.googleapis.com/css2?family=Forum&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

$mainColor:#ecc892;
$bgColor: #0e0e0e;
$wColor:#fff;
$forum:"Forum",cursive;
$ibm:"IBM Plex Serif",serif;
$source:"Source Sans 3",sans-serif;
$bold:700;
$semibold:600;
$regular:400;